@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* Constants */
    .btn {
        @apply bg-[#f8f9fa] p-3 rounded-md ring-gray-200 text-sm text-gray-800 hover:ring-1
        focus:outline-none active:ring-gray-300 hover:shadow-md;
    }

    .link {
        @apply hover:underline cursor-pointer;
    }

    /* Large Classes */
    .home__inputContainer {
        @apply flex w-full mt-5 hover:shadow-lg focus-within:shadow-lg max-w-md rounded-full 
        border border-gray-200 px-5 py-3 items-center sm:max-w-xl
        lg:max-w-2xl;
    }

    .home__buttonsContainer {
        @apply flex flex-col w-1/2 space-y-2 justify-center mt-8 sm:space-y-0 sm:flex-row sm:space-x-4;
    }

    .headerOptions__Container {
        @apply flex w-full text-gray-700 justify-evenly text-sm lg:text-base lg:justify-start
        lg:space-x-36 lg:pl-52 border-b-[1px] mt-8;
    }
}